/* Legend:
    0. root;
    1. Header;
    2. Hero;
    3. Social;
    4. About;
    5. Token
	6. media.
*/

/* 0. root */
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    overflow-x: hidden;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

:root {
    --color-light: hsl(208, 100%, 49%);
    --font-size-h2: clamp(1.6rem, 4vw, 5.4rem);
    --font-size-p: clamp(1.1rem, 1.9vw, 2.4rem);
    --line-height-p: clamp(1.7rem, 4vw, 5rem);
}

html,
body {
    font-family: 'Roboto Mono', monospace;
}

/* 1. Header */

.header {
    position: relative;

    display: flex;
    padding: 0.5rem 2rem 0.5rem 1rem;
    background-color: var(--color-light);
    align-items: center;
}

.header__img--logo {
    width: 5rem;
}

.nav__open {
    position: relative;
    right: 10%;

    display: none;

    width: 21px;
    height: 4px;
    background-color: white;
    border-radius: 25px;
}

.nav__open::before {
    content: '';
    position: absolute;
    transform: translateY(7px) translateX(-2px);

    width: 25px;
    height: 4px;
    background-color: white;
    border-radius: 15px;
}

.nav__open::after {
    content: '';

    position: absolute;
    transform: translateY(-7px) translateX(-2px);

    width: 25px;
    height: 4px;
    background-color: white;
    border-radius: 25px;
}

.nav__open--background {
    position: absolute;
    inset: -8px 0 0 -2px;

    opacity: 50%;
    width: 25px;
    height: 21px;
    z-index: 3;
}

.header__nav {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.nav__list {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav__link {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.nav__link:hover {
    text-decoration: underline;
}

.nav__list li:nth-of-type(5) {
    margin-left: auto;
    font-weight: bold;
}

.nav__list li:nth-of-type(6) {
    font-weight: bold;
}

/* 2. Hero */

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80% 12vh 10%;
    max-height: 110vh;
    z-index: 0;
}

.hero__img--bg {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    max-height: 100%;
}

.hero--left {
    grid-column: 1/2;
    grid-row: 1/4;
    padding-inline: 3rem;
    background-color: var(--color-light);
    z-index: 1;
}

.hero--right {
    color: var(--color-light);
    text-align: end;
    padding-inline: 4rem;
    background-color: white;
    grid-column: 2/3;
    grid-row: 1/2;
    padding-top: 2rem;
    z-index: -1;
}

.hero__title {
    font-size: clamp(2.5rem, 6.5vw, 6rem);
    line-height: clamp(2.5rem, 6.5vw, 7.4rem);
}

.hero__text {
    font-size: clamp(1.3rem, 3vw, 3rem);
    line-height: clamp(1.5rem, 4.5vw, 4rem);
    padding: 4rem 0;
}

.hero--flex {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    grid-column: 2 / 3;
    z-index: 1;
}

.hero__btn {
    position: relative;

    border-radius: 10px 6px 0 0;
    background-color: var(--color-light);
    text-decoration: none;
    font-size: clamp(0.8rem, 2.2vw, 1.7rem);
    color: white;
    padding: 0.3rem 1.2rem;
    margin-bottom: 0;
}

.hero__btn--right {
    border-radius: 6px 10px 0 0;
}

.hero__btn--left::before {
    content: '';
    position: absolute;
    right: 100%;
    background-color: var(--color-light);
    width: 10%;
    height: 100%;
}

.hero__btn--left::after {
    content: '';
    position: absolute;
    right: 100%;
    top: 0px;
    background-color: white;
    width: 20%;
    height: 100%;
    border-radius: 0 0 7px 0;
}

.hero__btn--right::before {
    content: '';
    position: absolute;
    left: 100%;
    background-color: var(--color-light);
    width: 10%;
    height: 100%;
}

.hero__btn--right::after {
    content: '';
    position: absolute;
    left: 100%;
    top: 0px;
    background-color: white;
    width: 20%;
    height: 100%;
    border-radius: 0 0 0 7px;
}

.hero__btn.disabled {
    pointer-events: none;
}

.hero--background {
    background-color: var(--color-light);
    grid-column: 1/3;
    z-index: -1;
}

/* 3. Social */

.social {
    position: fixed;
    top: 25%;
    right: 94%;
    left: 0;
    z-index: 2;
    min-width: 4.3rem;
    max-width: 6vw;

    border-radius: 0 15px 15px 0;
    background-color: hsl(208, 100%, 78%, 65%);
}

.social::after {
    content: '';
    position: absolute;
    inset: 40% 0 0 100%;

    background-color: hsl(208, 61%, 59%);
    width: 15%;
    height: 20%;
    border-radius: 0 15px 15px 0;
}

.social.open {
    transform: translateX(0%);
    transition: 300ms ease-out;
}

.social.close {
    transform: translateX(-100%);
    transition: 300ms ease-out;
}

.social:hover::after {
    transform: scaleX(1.3);
    transition: 200ms ease-out;
}

.list {
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

.item {
    padding-left: 12%;
    margin: 0;
}

.social__img {
    width: 80%;
    aspect-ratio: 1/1;
    object-fit: cover;
    margin-top: 0.5rem;
}

li:nth-of-type(4) {
    margin-bottom: 0.7rem;
}

/* 4. about */

.about {
    display: grid;
    grid-template-rows: 20% repeat(3, 1fr);
    gap: 5vh;

    margin: 10vh 10vw 10vw 5vw;
    text-align: center;
    align-items: center;
    color: var(--color-light);
}

.about__title {
    font-size: clamp(2.3rem, 4.5vw, 4rem);
    line-height: clamp(3rem, 7vw, 6rem);
    margin-inline: 2rem;
}

.about__card--gameplay {
    display: grid;
    gap: 5vw;
    grid-template-rows: 4rem 50%;
    grid-template-columns: 60% 40%;
    align-items: center;
}

.card__img--gameplay {
    grid-row: 1/4;
}

.card--title--gameplay {
    font-size: var(--font-size-h2);
    align-self: flex-end;
}

.card--text--gameplay {
    padding: 0rem 1rem 1rem 1rem;
    font-size: var(--font-size-p);
    line-height: var(--line-height-p);
    align-self: baseline;
}

.card--text--gameplay--part2 {
    display: none;
}

.about__card--skin {
    display: grid;
    gap: 5vw;
    grid-template-rows: 4rem 50%;
    grid-template-columns: 40% 60%;
    align-items: center;
}

.card__img--skin {
    grid-row: 1/4;
    grid-column: 2/3;
}

.card--title--skin {
    font-size: var(--font-size-h2);
    align-self: flex-end;
}

.card--text--skin {
    padding: 0rem 1rem 1rem 1rem;
    font-size: var(--font-size-p);
    line-height: var(--line-height-p);
    align-self: baseline;
}

.card--text--skin--part2 {
    display: none;
}

.about__card--token {
    display: grid;
    gap: 5vw;
    grid-template-rows: 4rem 50%;
    grid-template-columns: 60% 40%;
    align-items: center;
}

.card__img--token {
    grid-row: 1/4;
    transform: scale(1.3);
}

.card--title--token {
    font-size: var(--font-size-h2);
    align-self: flex-end;
}

.card--text--token {
    padding: 0rem 1rem 1rem 1rem;
    font-size: var(--font-size-p);
    line-height: var(--line-height-p);
    align-self: baseline;
}

.card--text--token--part2 {
    display: none;
}

.card__link--token {
    font-weight: 600;
}

.card__link--token:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* 5. Token */

.token {
    display: flex;
    flex-direction: column;
    text-align: center;

    background-color: var(--color-light);
    color: white;
    padding: 10vw 3rem 5vw 3rem;
}

.token__h1--in {
    text-transform: uppercase;
    font-size: clamp(2.3rem, 5vw, 6rem);
    line-height: 4rem;
    margin-bottom: 7vw;
}

.token__img--token {
    transform: scale(1.3);
}

.token__div--in {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2.5rem;
    align-items: center;
}

.token__h2--in {
    font-size: var(--font-size-h2);
}

.token__p--in {
    font-size: var(--font-size-p);
    line-height: var(--line-height-p);
}

.token__div--out {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2.5rem;
    align-items: center;
}

.token__img--out .token__p--out {
    font-size: var(--font-size-p);
    line-height: var(--line-height-p);
}

.token__span--out {
    text-transform: uppercase;
    font-weight: bold;
}

.token__div--titan {
    display: flex;
    flex-direction: row;
    gap: 10%;
    justify-content: space-around;
    align-items: center;
}

.token__div--skin {
    display: flex;
    flex-direction: row;
    gap: 10%;
    justify-content: space-around;
    align-items: center;
}

.token__div--special-power {
    display: flex;
    flex-direction: row;
    gap: 10%;
    justify-content: space-around;
    align-items: center;
}

.token__h1--out {
    font-size: clamp(2.3rem, 5vw, 6rem);
    margin-bottom: 4vw;
}

.token__img--out {
    max-width: 40%;
}

.token__p--out {
    font-size: var(--font-size-p);
    line-height: var(--line-height-p);
}

/* 6. Gem */

.gem {
    background-color: white;
    color: var(--color-light);
    margin: 6vw 0;
    text-align: center;
}

.gem__h1--white {
    font-size: clamp(4rem, 6.5vw, 7rem);
}

.gem__img--white {
    max-width: 80%;
    display: inline;
}

.gem__h2--white {
    font-size: var(--font-size-h2);
    line-height: clamp(2.5rem, 6vw, 7.5rem);
    padding-inline: 4rem;
}

.gem__p--white {
    font-size: var(--font-size-p);
    line-height: var(--line-height-p);
    padding: 2rem 5rem;
}

.gem__div--blue {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4vw;

    background-color: var(--color-light);
    color: white;
    padding: 4vw 5vw 0 5vw;
    text-align: left;
}

.blue__div--gem-token {
    display: none;
}

.gem__line--blue {
    background-color: transparent;
    height: 1px;
    width: 60%;
    border: 2px dashed white;
}

.gem__h2--blue-100x {
    font-size: var(--font-size-h2);
    line-height: clamp(2.5rem, 6vw, 7.5rem);
    text-align: center;
    margin-bottom: 1rem;
}

.gem__p--blue {
    font-size: var(--font-size-p);
    line-height: var(--line-height-p);
}

.gem__p--blue > a {
    text-decoration: none;
    color: white;
}

.gem__p--blue > a:hover {
    text-decoration: underline;
}

/* 6. media */

@media (min-width: 50rem) {
    /* about */

    .card--text--gameplay--part2 {
        display: block;
    }

    .card--text--skin--part2 {
        display: block;
    }

    .card--text--token--part2 {
        display: block;
    }
}

@media (max-width: 40rem) {
    /* body */

    body {
        overflow-x: hidden;
    }

    /* header */

    .header {
        padding: 0.5rem;
    }
    .header__nav {
        background-color: var(--color-light);
        position: fixed;
        inset: 0 0 0 30%;

        padding: min(25vh, 12rem) 0 0 0;
        line-height: 3rem;
        transition: ease-out 250ms;
    }

    .header__nav.close {
        transform: translate(100%);
    }

    .nav__list {
        flex-direction: column;
        flex-grow: 1;
        padding: 0 0 2rem 2rem;
    }

    .nav__link {
        font-size: 1rem;
    }
    .nav__list li:nth-of-type(5) {
        margin: auto 0 0 0;
        align-self: center;
        text-transform: uppercase;
    }

    .nav__list li:nth-of-type(6) {
        align-self: center;
        text-transform: uppercase;
    }
    .nav__open {
        position: absolute;

        display: inline;
        z-index: 3;
    }

    .nav__open.open {
        transition: ease-out 200ms;

        background: transparent;
    }

    .nav__open.open::after {
        transform: rotate(45deg);
        transition: ease-out 200ms;
    }

    .nav__open.open::before {
        transform: rotate(-45deg);
        transition: ease-out 200ms;
    }

    .nav__open.close {
        transform: translateX(0px);
        transition: ease-out 400ms;

        background: white;
    }

    .nav__open.close::after {
        transform: rotate(0) translate(-2px, -7px);
        transition: ease-out 200ms;
    }

    .nav__open.close::before {
        transform: rotate(0) translate(-2px, 7px);
        transition: ease-out 200ms;
    }

    /* hero */

    .hero__img--bg {
        aspect-ratio: auto;
    }

    .hero--left {
        display: none;
    }

    .hero--right {
        grid-column: 1 / 3;
        text-align: center;
    }

    .hero {
        grid-template-rows: 80% 5vh 10%;
    }

    .hero--flex {
        grid-column: 1 / 3;
    }

    /* social */

    .social {
        display: none;
    }
}

@media (min-width: 40rem) {
    /* header */

    .nav__item:first-child {
        margin-left: auto !important;
    }

    /* hero */

    .hero--background {
        grid-column: 2/3;
    }

    /* about */

    .about {
        margin: 10vh 10vw 15vw 5vw;
    }

    .about__card--gameplay {
        opacity: 0;
        transform: translateX(-300px);
        transition: ease-out 300ms;
    }

    .about__card--gameplay.visible {
        opacity: 1;
        transform: translateX(0px);
    }
    .about__card--skin {
        opacity: 0;
        transform: translateX(300px);
        transition: ease-out 300ms;
    }

    .about__card--skin.visible {
        opacity: 1;
        transform: translateX(0px);
    }

    .about__card--token {
        opacity: 0;
        transform: translateX(-300px);
        transition: ease-out 300ms;
    }

    .about__card--token.visible {
        opacity: 1;
        transform: translateX(0px);
    }

    /* token */

    .token__div--in {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    .token__div--out {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .token__img--token {
        max-width: 50%;
        align-self: center;
        margin: 5vw 0 3.4vw 0;
    }

    .token__h2--battle-pass {
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .token__p--battle-pass {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    .token__h2--level-up {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    .token__p--level-up {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    .token__h2--app-purchase {
        grid-column: 3/3;
        grid-row: 1/2;
    }

    .token__p--app-purchase {
        grid-column: 3/3;
        grid-row: 2/3;
    }

    .token__div--titan,
    .token__div--skin,
    .token__div--special-power {
        flex-direction: column;
        gap: 1.5rem;
    }

    /* Gem */

    .gem__img--white {
        max-width: 40%;
    }

    .blue__div--gem-token {
        display: block;
    }

    .gem__h2--blue-100x {
        display: none;
    }
}
